spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/upgrader
    username: upgrader
    password: changeme
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
    show-sql: false
