app:
  ai:
    provider: ollama
spring:
  ai:
    ollama:
      base-url: ${OLLAMA_BASE_URL:http://localhost:11434}
    mcp:
      client:
        enabled: true
        type: SYNC
        toolcallback:
          enabled: true
        streamable-http:
          connections:
            mcpServer:
              url: ${MCP_SERVER_URL:http://mcp-server:8085}
        request-timeout: 30s
